

/* LAPTOP LARGE */

@media only screen and (min-width : 1224px) and (max-width : 1400px)  { 

  /* NAVBAR */


.navbar {
  position: relative;
  min-height: 70px;
  margin-bottom: 0px;
  border: 1px solid transparent;

}

.navbar-default {
  background-color: #000;
  border-color: #000;

}
.navbar-brand {

  position: absolute; 
  top: 25px; 
  left: 90px; 
  font-size: 45px; 
  font-family: 'Baloo Bhaina', cursive;
}
.navbar-default .navbar-brand {
  color: orange;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: orange;
}
nav li a {

  font-family: 'Baloo Bhaina', cursive;
   font-size: 18px;
  position: absolute;
  width: 90px;
  display: inline-block;
} 

.Home {
position: absolute;
top: 40px; 
left: 700px;
}

.Who {
position: absolute;
top:40px; 
left: 755px

}

.Job {
position: absolute;
top: 22px; 
left: 830px; 

}

.Contact {
position: absolute;
top: 40px; 
left: 905px;
}


.navbar-default .navbar-nav > li > a {
  color: orange;
  padding: 2px 2px;
  width: 90px;
  display: inline-block;

}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: orange;
  background-color: transparent;

}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: orange;
  background-color: #000;
}

.navbar-default .navbar-link {
  color: orange;
}
.navbar-default .navbar-link:hover {
  color: yellow;
}
.navbar-default .btn-link {
  color: orange;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: yellow;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

/*ICON*/

.ion-android-warning {

  color: #f0ff26;
  position:absolute;
  top: 17px;
  left: 55px;
  font-size: 38px;
}

/* BURGER */

.hamburger {
  background: none;
  position: absolute;
  top: 20px;
  right: 15px;
  line-height :45px;
  padding: 5px 15px 0px 15px;
  color: orange;
  border: 0;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  display: none;
}

.cross {
  background: none;
  position: absolute;
  top:20px;
  right: 15px;
  padding: 7px 15px 0px 15px;
  color: orange;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  display: none;
}

.menu { 
      z-index:1000000;
      font-weight:bold; 
      font-size:0.8em; 
      width:100%; 
      background:#000;  
      position: absolute;
      text-align: center;
      font-size:12px;
      display: none;
    }

.menu ul {
      margin: 0; 
      padding: 0; 
      list-style-type: none; 
      list-style-image: none;
    }

.menu li {
      display: block;   
      padding:15px 0 15px 0; 
      border-bottom:orange 1px solid;
    }

.menu li:hover{ 
      display: block;    
      background:#000; 
      padding:15px 0 15px 0; 
      border-bottom: orange 1px solid;
    }

.menu ul li a { 
    text-decoration: none;  
    margin: 0px; 
    color:orange;
}

.menu ul li a:hover {  
    color: #666; 
    text-decoration:none;
  }

.menu a{ 
    text-decoration:none; 
    color:#666;
  }

.menu a:hover {
    text-decoration: none;
    color:#666;
  }

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.menu ul a {

  font-family: 'Baloo Bhaina', cursive;
  font-size: 18px;
  color: orange;
  

}

/*CONTAINER*/

.container {
width: 100%;
background-image: url("../IMGS/fondo.png");
background-color: #f0ff26;
height: 561px;
position: relative;

}

.col-left h1 {
   font-family: 'Baloo Bhaina', cursive;
  font-size: 50px;
  color: black;
  margin: 0px;
  text-align: center;
  position: absolute;
  top: 205px;
  left: 75px;
}

.col-right img {
  position: absolute;
  top: 100px;
  right: 150px; 
}



#footer {
  width:100%; 
  height: 31px;
  background-color: #000;
  display: block;
  position: relative; 
}

.Version {
  font-family: 'Baloo Bhaina', cursive;
  width:33%;
  display: inline-block;
  text-align: left;
  color: orange;
  
}

.Widget {
  font-family: 'Baloo Bhaina', cursive;
  display: inline-block;
  width:33%;
  text-align: center;
  color: orange;
}


.MAIL {
  font-family: 'Baloo Bhaina', cursive;
  background-color: #000;
  color: orange;
  text-decoration: none;
  text-align: right;
  width:33%;
  display: inline-block;
}
}



/* DESKTOP & LAPTOP */


@media only screen and (min-width : 1024px) and (max-width : 1224px) {
                   

 /* NAVBAR */


.navbar {
  position: relative;
  min-height: 70px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  width: 100%;

}

.navbar-default {
  background-color: #000;
  border-color: #000;

}
.navbar-brand {

  position: absolute; 
  top: 25px; 
  left: 45px; 
  font-size: 25px; 
  font-family: 'Baloo Bhaina', cursive;
}

/*ICON*/

.ion-android-warning {

  color: #f0ff26;
  position:absolute;
  top: 28px;
  left: 20px;
  font-size: 25px;
}

.navbar-default .navbar-brand {
  color: orange;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: orange;
}

nav li a {

  font-family: 'Baloo Bhaina', cursive;
   font-size: 18px;
  position: absolute;
  width: 90px;
} 

.Home {
position: absolute;
top: 40px; 
left: 575px;
font-size: 15px;
}

.Who {
position: absolute;
top:40px; 
left: 620px;
font-size: 15px;
}

.Job {
position: absolute;
top:40px; 
left: 665px; 
width: 140px;
font-size: 15px;
}

.Contact {
position: absolute;
top: 40px; 
left: 710px;
font-size: 15px;
}


.navbar-default .navbar-nav > li > a {
  color: orange;
  padding: 2px 2px;
  width: 100%;


}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: orange;
  background-color: transparent;

}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: orange;
  background-color: #000;
}

.navbar-default .navbar-link {
  color: orange;
}
.navbar-default .navbar-link:hover {
  color: yellow;
}
.navbar-default .btn-link {
  color: orange;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: yellow;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

/* BURGER */

.hamburger {
  background: none;
  position: absolute;
  top: 20px;
  right: 15px;
  line-height :45px;
  padding: 5px 15px 0px 15px;
  color: orange;
  border: 0;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  display: none;
}

.cross {
  background: none;
  position: absolute;
  top:20px;
  right: 15px;
  padding: 7px 15px 0px 15px;
  color: orange;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  display: none;
}

.menu { 
      z-index:1000000;
      font-weight:bold; 
      font-size:0.8em; 
      width:100%; 
      background:#000;  
      position: absolute;
      text-align: center;
      font-size:12px;
      display: none;
    }

.menu ul {
      margin: 0; 
      padding: 0; 
      list-style-type: none; 
      list-style-image: none;
    }

.menu li {
      display: block;   
      padding:15px 0 15px 0; 
      border-bottom:orange 1px solid;
    }

.menu li:hover{ 
      display: block;    
      background:#000; 
      padding:15px 0 15px 0; 
      border-bottom: orange 1px solid;
    }

.menu ul li a { 
    text-decoration: none;  
    margin: 0px; 
    color:orange;
}

.menu ul li a:hover {  
    color: #666; 
    text-decoration:none;
  }

.menu a{ 
    text-decoration:none; 
    color:#666;
  }

.menu a:hover {
    text-decoration: none;
    color:#666;
  }

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.menu ul a {

  font-family: 'Baloo Bhaina', cursive;
  font-size: 18px;
  color: orange;
  

}

/*CONTAINER*/

.container {
width: 100%;
background-image: url("../IMGS/fondo.png");
background-color: #f0ff26;
height: 561px;
position: relative;

}

.col-left h1 {
   font-family: 'Baloo Bhaina', cursive;
  font-size: 45px;
  color: black;
  margin: 0px;
  text-align: center;
  position: absolute;
  top: 410px;
  left: 155px;
}

.col-right img {
  position: absolute;
  top: 75px;
  right: 330px; 
}



#footer {
  width:100%; 
  height: 31px;
  background-color: #000;
  display: block;
  position: relative; 
}

.Version {
  font-family: 'Baloo Bhaina', cursive;
  width:33%;
  display: inline-block;
  text-align: left;
  color: orange;
  
}

.Widget {
  font-family: 'Baloo Bhaina', cursive;
  display: inline-block;
  width:33%;
  text-align: center;
  color: orange;
}


.MAIL {
  font-family: 'Baloo Bhaina', cursive;
  background-color: #000;
  color: orange;
  text-decoration: none;
  text-align: right;
  width:33%;
  display: inline-block;
}
}

/*UNIQUE WIDTH*/

@media only screen and (width: 1024px) {

  /* NAVBAR */

.navbar {
  position: relative;
  min-height: 70px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  width: 100%;

}

.navbar-default {
  background-color: #000;
  border-color: #000;

}
.navbar-brand {

  position: absolute; 
  top: 25px; 
  left: 45px; 
  font-size: 25px; 
  font-family: 'Baloo Bhaina', cursive;
}

/*ICON*/

.ion-android-warning {

  color: #f0ff26;
  position:absolute;
  top: 28px;
  left: 20px;
  font-size: 25px;
}

.navbar-default .navbar-brand {
  color: orange;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: orange;
}

nav li a {

  font-family: 'Baloo Bhaina', cursive;
   font-size: 18px;
  position: absolute;
  width: 90px;
} 

.Home {
position: absolute;
top: 40px; 
left: 525px;
font-size: 15px;
}

.Who {
position: absolute;
top:40px; 
left: 570px;
font-size: 15px;
}

.Job {
position: absolute;
top:40px; 
left: 615px; 
width: 140px;
font-size: 15px;
}

.Contact {
position: absolute;
top: 40px; 
left: 660px;
font-size: 15px;
}


.navbar-default .navbar-nav > li > a {
  color: orange;
  padding: 2px 2px;
  width: 100%;


}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: orange;
  background-color: transparent;

}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: orange;
  background-color: #000;
}

.navbar-default .navbar-link {
  color: orange;
}
.navbar-default .navbar-link:hover {
  color: yellow;
}
.navbar-default .btn-link {
  color: orange;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: yellow;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}


/* BURGER */

.hamburger {
  background: none;
  position: absolute;
  top: 20px;
  right: 15px;
  line-height :45px;
  padding: 5px 15px 0px 15px;
  color: orange;
  border: 0;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  display: none;
}

.cross {
  background: none;
  position: absolute;
  top:20px;
  right: 15px;
  padding: 7px 15px 0px 15px;
  color: orange;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  display: none;
}

.menu { 
      z-index:1000000;
      font-weight:bold; 
      font-size:0.8em; 
      width:100%; 
      background:#000;  
      position: absolute;
      text-align: center;
      font-size:12px;
      display: none;
    }

.menu ul {
      margin: 0; 
      padding: 0; 
      list-style-type: none; 
      list-style-image: none;
    }

.menu li {
      display: block;   
      padding:15px 0 15px 0; 
      border-bottom:orange 1px solid;
    }

.menu li:hover{ 
      display: block;    
      background:#000; 
      padding:15px 0 15px 0; 
      border-bottom: orange 1px solid;
    }

.menu ul li a { 
    text-decoration: none;  
    margin: 0px; 
    color:orange;
}

.menu ul li a:hover {  
    color: #666; 
    text-decoration:none;
  }

.menu a{ 
    text-decoration:none; 
    color:#666;
  }

.menu a:hover {
    text-decoration: none;
    color:#666;
  }

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.menu ul a {

  font-family: 'Baloo Bhaina', cursive;
  font-size: 18px;
  color: orange;
  

}


/*CONTAINER*/

.container {
width: 100%;
background-image: url("../IMGS/fondo.png");
background-color: #f0ff26;
height: 561px;
position: relative;

}

.col-left h1 {
   font-family: 'Baloo Bhaina', cursive;
  font-size: 45px;
  color: black;
  margin: 0px;
  text-align: center;
  position: absolute;
  top: 410px;
  left: 190px;
}

.col-right img {
  position: absolute;
  top: 75px;
  right: 325px; 
}



#footer {
  width:100%; 
  height: 31px;
  background-color: #000;
  display: block;
  position: relative; 
}

.Version {
  font-family: 'Baloo Bhaina', cursive;
  width:33%;
  display: inline-block;
  text-align: left;
  color: orange;
  
}

.Widget {
  font-family: 'Baloo Bhaina', cursive;
  display: inline-block;
  width:33%;
  text-align: center;
  color: orange;
}

.MAIL {
  font-family: 'Baloo Bhaina', cursive;
  background-color: transparent;
  color: orange;
  text-decoration: none;
  text-align: right;
  width:33%;
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: 8px;
}

  }

/* TABLET */ 

@media only screen  and (min-width : 768px) and (max-width : 1024px) {

 /* NAVBAR */

.navbar {
  position: relative;
  min-height: 70px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  width: 100%;

}

.navbar-default {
  background-color: #000;
  border-color: #000;

}
.navbar-brand {

  position: absolute; 
  top: 25px; 
  left: 45px; 
  font-size: 25px; 
  font-family: 'Baloo Bhaina', cursive;
}

/*ICON*/

.ion-android-warning {

  color: #f0ff26;
  position:absolute;
  top: 28px;
  left: 20px;
  font-size: 25px;
}

.navbar-default .navbar-brand {
  color: orange;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: orange;
}

nav li a {

  font-family: 'Baloo Bhaina', cursive;
   font-size: 18px;
  position: absolute;
  width: 90px;
} 

.Home {
position: absolute;
top: 40px; 
left: 525px;
font-size: 15px;
}

.Who {
position: absolute;
top:40px; 
left: 570px;
font-size: 15px;
}

.Job {
position: absolute;
top:40px; 
left: 615px; 
width: 140px;
font-size: 15px;
}

.Contact {
position: absolute;
top: 40px; 
left: 660px;
font-size: 15px;
}


.navbar-default .navbar-nav > li > a {
  color: orange;
  padding: 2px 2px;
  width: 100%;


}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: orange;
  background-color: transparent;

}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: orange;
  background-color: #000;
}

.navbar-default .navbar-link {
  color: orange;
}
.navbar-default .navbar-link:hover {
  color: yellow;
}
.navbar-default .btn-link {
  color: orange;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: yellow;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}



/*CONTAINER*/

.container {
width: 100%;
background-image: url("IMGS/fondo.png");
background-color: #f0ff26;
height: 561px;
position: relative;

}

.col-left h1 {
   font-family: 'Baloo Bhaina', cursive;
  font-size: 45px;
  color: black;
  margin: 0px;
  text-align: center;
  position: absolute;
  top: 410px;
  left: 190px;
}

.col-right img {
  position: absolute;
  top: 75px;
  right: 330px; 
}



#footer {
  width:100%; 
  height: 31px;
  background-color: #000;
  display: block;
  position: relative; 
}

.Version {
  font-family: 'Baloo Bhaina', cursive;
  width:33%;
  display: inline-block;
  text-align: left;
  color: orange;
  
}

.Widget {
  font-family: 'Baloo Bhaina', cursive;
  display: inline-block;
  width:33%;
  text-align: center;
  color: orange;
}

.MAIL {
  font-family: 'Baloo Bhaina', cursive;
  background-color: transparent;
  color: orange;
  text-decoration: none;
  text-align: right;
  width:33%;
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: 8px;
}

  }

/* FALTA UN QUERY DE MIN 425 MAX 768 (CUANDO LO PONGO EL NAV SE ME ESCALONA 
Y ME APARECEN PROPIEDADES CUANDO INSPECCIONO QUE LOS ELEMENTOS NO TIENEN EN EL CSS) */


/* mobile */

  @media only screen  and (min-device-width : 375px) and (max-device-width: 425px) {

/*NAVBAR */


.navbar {
  position: relative;
  min-height: 70px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  width: 100%;
}

.navbar-default .navbar-nav > li > a {
  color: orange;
  padding: 2px 2px;
  width: 100%;
  display: none;
}

.navbar-default {
  background-color: #000;
  border-color: #000;

}
.navbar-brand {

  position: absolute; 
  top: 25px; 
  left: 30px; 
  font-size: 25px; 
  font-family: 'Baloo Bhaina', cursive;
}

/*ICON*/

.ion-android-warning {

  color: #f0ff26;
  position:absolute;
  top: 28px;
  left: 18px;
  font-size: 25px;
}

.navbar-default .navbar-brand {
  color: orange;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: orange;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: orange;
  background-color: transparent;

}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: orange;
  background-color: #000;
}

.navbar-default .navbar-link {
  color: orange;
}
.navbar-default .navbar-link:hover {
  color: yellow;
}
.navbar-default .btn-link {
  color: orange;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: yellow;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}


nav li a {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 18px;
  position: absolute;
  width: 90px;
  display: none;
} 

.Home {
position: absolute;
top: 40px; 
left: 325px;
font-size: 15px;
display: none;
}

.Who {
position: absolute;
top:40px; 
left: 370px;
font-size: 15px;
display: none;
}

.Job {
position: absolute;
top:40px; 
left: 415px; 
width: 140px;
font-size: 15px;
display: none;
}

.Contact {
position: absolute;
top: 40px; 
left: 460px;
font-size: 15px;
display: none;
}

/* BURGER */

.hamburger {
  background: none;
  position: absolute;
  top: 20px;
  right: 15px;
  line-height :45px;
  padding: 5px 15px 0px 15px;
  color: orange;
  border: 0;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

.cross {
  background: none;
  position: absolute;
  top:20px;
  right: 15px;
  padding: 7px 15px 0px 15px;
  color: orange;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

.menu { 
      z-index:1000000;
      font-weight:bold; 
      font-size:0.8em; 
      width:100%; 
      background:#000;  
      position: absolute;
      text-align: center;
      font-size:12px;
    }

.menu ul {
      margin: 0; 
      padding: 0; 
      list-style-type: none; 
      list-style-image: none;
    }

.menu li {
      display: block;   
      padding:15px 0 15px 0; 
      border-bottom:orange 1px solid;
    }

.menu li:hover{ 
      display: block;    
      background:#000; 
      padding:15px 0 15px 0; 
      border-bottom: orange 1px solid;
    }

.menu ul li a { 
    text-decoration: none;  
    margin: 0px; 
    color:orange;
}

.menu ul li a:hover {  
    color: #666; 
    text-decoration:none;
  }

.menu a{ 
    text-decoration:none; 
    color:#666;
  }

.menu a:hover {
    text-decoration: none;
    color:#666;
  }

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.menu ul a {

  font-family: 'Baloo Bhaina', cursive;
  font-size: 18px;
  color: orange;
  

}

/*CONTAINER*/

.container {
width: 100%;
background-image: url("../IMGS/fondo.png");
background-color: #f0ff26;
height: 561px;
position: relative;

}

.col-left h1 {
   font-family: 'Baloo Bhaina', cursive;
  font-size: 40px;
  color: black;
  margin: 0px;
  text-align: center;
  position: absolute;
  top: 410px;
  left: 10px;
}

.col-right img {
  position: absolute;
  top: 75px;
  right: 35px; 
}

#footer {
  width:100%; 
  height: 31px;
  background-color: #000;
  display: block;
  position: relative; 
}

.Version {
  
  font-family: 'Baloo Bhaina', cursive;
  width:33%;
  display: inline-block;
  text-align: left;
  color: orange;
  display: none;
  
}

.Widget {
  font-family: 'Baloo Bhaina', cursive;
  display: inline-block;
  width: 38%;
  text-align: center;
  color: orange;
}

.MAIL {
  
  font-family: 'Baloo Bhaina', cursive;
  background-color: transparent;
  color: orange;
  text-decoration: none;
  text-align: right;
  width:44%;
  display: inline-block;
  position: absolute;
  right: 30px;
  bottom: 8px;
}

}

@media only screen  and (min-device-width : 320px) and (max-device-width: 375px) {


/*NAVBAR */


.navbar {
  position: relative;
  min-height: 70px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  width: 100%;
}

.navbar-default .navbar-nav > li > a {
  color: orange;
  padding: 2px 2px;
  width: 100%;
  display: none;
}

.navbar-default {
  background-color: #000;
  border-color: #000;

}
.navbar-brand {

  position: absolute; 
  top: 25px; 
  left: 30px; 
  font-size: 25px; 
  font-family: 'Baloo Bhaina', cursive;
}

/*ICON*/

.ion-android-warning {

  color: #f0ff26;
  position:absolute;
  top: 28px;
  left: 18px;
  font-size: 25px;
}

.navbar-default .navbar-brand {
  color: orange;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: orange;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: orange;
  background-color: transparent;

}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: orange;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: orange;
  background-color: #000;
}

.navbar-default .navbar-link {
  color: orange;
}
.navbar-default .navbar-link:hover {
  color: yellow;
}
.navbar-default .btn-link {
  color: orange;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: yellow;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}


nav li a {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 18px;
  position: absolute;
  width: 90px;
  display: none;
} 

.Home {
position: absolute;
top: 40px; 
left: 325px;
font-size: 15px;
display: none;
}

.Who {
position: absolute;
top:40px; 
left: 370px;
font-size: 15px;
display: none;
}

.Job {
position: absolute;
top:40px; 
left: 415px; 
width: 140px;
font-size: 15px;
display: none;
}

.Contact {
position: absolute;
top: 40px; 
left: 460px;
font-size: 15px;
display: none;
}

/* BURGER */

.hamburger {
  background: none;
  position: absolute;
  top: 20px;
  right: 15px;
  line-height :45px;
  padding: 5px 15px 0px 15px;
  color: orange;
  border: 0;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

.cross {
  background: none;
  position: absolute;
  top:20px;
  right: 15px;
  padding: 7px 15px 0px 15px;
  color: orange;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

.menu { 
      z-index:1000000;
      font-weight:bold; 
      font-size:0.8em; 
      width:100%; 
      background:#000;  
      position: absolute;
      text-align: center;
      font-size:12px;
    }

.menu ul {
      margin: 0; 
      padding: 0; 
      list-style-type: none; 
      list-style-image: none;
    }

.menu li {
      display: block;   
      padding:15px 0 15px 0; 
      border-bottom:orange 1px solid;
    }

.menu li:hover{ 
      display: block;    
      background:#000; 
      padding:15px 0 15px 0; 
      border-bottom: orange 1px solid;
    }

.menu ul li a { 
    text-decoration: none;  
    margin: 0px; 
    color:orange;
}

.menu ul li a:hover {  
    color: #666; 
    text-decoration:none;
  }

.menu a{ 
    text-decoration:none; 
    color:#666;
  }

.menu a:hover {
    text-decoration: none;
    color:#666;
  }

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.menu ul a {

  font-family: 'Baloo Bhaina', cursive;
  font-size: 18px;
  color: orange;
  

}

/*CONTAINER*/

.container {
width: 100%;
background-image: url("../IMGS/fondo.png");
background-color: #f0ff26;
height: 561px;
position: relative;

}

.col-left h1 {
   font-family: 'Baloo Bhaina', cursive;
  font-size: 40px;
  color: black;
  margin: 0px;
  text-align: center;
  position: absolute;
  top: 410px;
  left: 6px;
}

.col-right img {
  position: absolute;
  top: 75px;
  right: -15px; 
}

/* FOOTER */

#footer {
  width:100%; 
  height: 31px;
  background-color: #000;
  display: block;
  position: relative; 
}

.Version {
  
  font-family: 'Baloo Bhaina', cursive;
  width:33%;
  display: inline-block;
  text-align: left;
  color: orange;
  display: none;
  
}

.Widget {
  font-family: 'Baloo Bhaina', cursive;
  display: inline-block;
  width: 95%;
  text-align: center;
  color: orange;
}

.MAIL {
  
  font-family: 'Baloo Bhaina', cursive;
  background-color: transparent;
  color: orange;
  text-decoration: none;
  text-align: right;
  width:44%;
  display: inline-block;
  position: absolute;
  right: 30px;
  bottom: 8px;
  display: none;
}

}
