body {
    
    font-family: 'Baloo Bhaina', cursive;
    font-size:16px;
    background-image: url("../../../IMGS/fondo.png");
    background-color: #f0ff26;
    position: relative;
    
}

/* FORMULARIO DE CONTACT */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

    display: block;
}

h1 {
    font-family: 'Baloo Bhaina', cursive;
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 0 0 20px 0;
    position: relative;
    color: orange;
}


 #CONTAINER {
    position: relative;
    margin: 50px auto;
    width: 400px;
    min-height: 200px;
    z-index: 100;
    padding: 30px;
    border: 1px solid #000;
    background-color: #f0ff26;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /*box-shadow*/
    -webkit-box-shadow: 0px 1px 6px #000;
    -moz-box-shadow: 0px 1px 6px #000;
    box-shadow: 0px 1px 6px #000;
}

 #CONTAINER:after {
    
    background-color: #000;
    margin:10px;
    position: absolute;
    content :" ";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border:1px #E5E5E5 solid;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

 input:required, textarea:required {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

 input:not([type="submit"]), textarea {
    outline: none;
    display: block;
    width: 380px;
    padding: 4px 8px;
    border: 1px dashed #DBDBDB;
    color: #000;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 14px;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    -webkit-transition:background 0.2s linear, box-shadow 0.6s linear;
    -moz-transition:background 0.2s linear, box-shadow 0.6s linear;
    -o-transition:background 0.2s linear, box-shadow 0.6s linear;
    transition:background 0.2s linear, box-shadow 0.6s linear;
}
input:not([type="submit"]):active, textarea:active, input:not([type="submit"]):focus, textarea:focus {
    background: orange;
    border:dashed 1px #f0ff26;
    
    -webkit-box-shadow: 2px 2px 7px #f0ff26 inset;
    -moz-box-shadow: 2px 2px 7px #f0ff26 inset;
    box-shadow: 2px 2px 7px #f0ff26 inset;
}
input:not([type="submit"]) {
    height: 20px;
}

 ::-webkit-input-placeholder {
    color: #f0ff26;
    font-style: italic;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #f0ff26;
    font-style: italic;
}
textarea {
    min-height: 150px;
    resize: vertical
}

 .iconic:before {
    font-size: 25px;
    font-family: 'Baloo Bhaina', cursive;
}
.iconic.link:before {
    content:'/';
}
.iconic.quote-alt:before {
    content:"'";
}
.iconic.comment:before {
    content:"q";
}
.iconic.user:before {
    content:"u";
}
.iconic.mail-alt:before {
    content:"M";
}
label {
    color: orange;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;

}
label:hover {
    color: orange;
}
label:before {
    color: orange;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
label:hover:before {
    color: orange;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
p {
    margin-bottom:20px;
}
.indication {
    color: #878787;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    padding-right: 10px;
}
.required {
    color: #E5224C;
}
/* SEND BUTTON */
 input[type=submit] {
    margin-left: 235px;
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'Baloo Bhaina', cursive;
    color: #000;
    font-size: 18px;
    padding: 10px 4px;
    border: 1px solid #E0E0E0;
    text-shadow: 0px 1px 1px #000;
    background: #f0ff26;
    
   
    -webkit-border-radius: 5px;
    -moz-border-radius :5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #000;
    -moz-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #000;
    box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #000;
    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
input[type=submit]:hover {
    color:orange;
    border-color: #000;
    background: #f0ff26;
    
   
    -webkit-box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #000;
    -moz-box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #000;
    box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #000;
}
input[type=submit]:active, input[type=submit]:focus {
    position: relative;
    top: 1px;
    color: #f0ff26;
    background: orange;
    
  
    -webkit-box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #000;
    -moz-box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #000;
    box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #000;
}

/* ACA TERMINA EL FORMULARIO DEL CONTACT */

/* Button*/

#BUTTON {

    background-color: #000;
    height: 35px;
    width: 75px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    top: 50px;
    right: 100px;

    
}

#BUTTON a {

    font-family: 'Baloo Bhaina', cursive;
    font-size: 20px;
    color: orange;
    text-decoration: none;
    

}

